* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 80px;
  border: 1px solid black;
}
.container {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}
.icon {
  display: flex;
  gap: 5px;
}
.facebook {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.twitter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.instagram {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.linkedIn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
